.activeChatContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-color:#DCE0F2;
    padding: 10px;
  
    .chatInfo {
      display: flex;
      flex-direction: column;
      color: #fff;
      overflow: auto;
      scrollbar-width: thin;
  
      /* Hide the scroll bar */
      scrollbar-width: none; /* For Chrome and Safari */
      -ms-overflow-style: none; /* For Internet Explorer and Edge */
      &::-webkit-scrollbar {
        display: none;
      }
      .message {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        position: relative;
        max-width: 70%; 

        &.sent {
          align-self: flex-end;
          .messageContent {
            align-items: flex-end;
          }
          .messageBubble {
            background-color: #2E97F2;
          }
        }
  
        &.received {
          align-self: flex-start;
          .messageContent {
            align-items: flex-start;
          }
          .messageBubble {
            background-color: #1F9456;
          }
        }
  
        .messageContent {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
  
        .sender {
          font-weight: bold;
          margin-bottom: 5px;
          color:#4C4A59;
         
        }
  
        .messageBubble {
          border-radius: 16px;
          padding: 8px 12px;
          max-width: 100%; 
          word-wrap: break-word; 
        }
  
        .content {
          margin: 0;
        }
  
        .timestamp {
          font-size: 12px;
          color: gray;
          margin-top: 5px;
          align-self: flex-end;
        }
      }
    }
  }
  