.searchContainer {
    background-color: #f4f4f4;
    padding: 10px;
    display: flex;
    align-items: center;
    height: 50px;
  }
  
  .searchIcon,
  .toggleIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #777;
    cursor: pointer;
    font-size: 18px;
  }
  
  .searchInput {
    flex: 1;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    background-color: #fff;
  }
  
  .expanded .toggleIcon {
    transform: rotate(180deg);
  }
  